<footer class="footer">
  <div class="container">
    <div class="left"></div>
    <div class="right">
      <div class="social-btn">
        <a href="https://github.com/cheble">
          <i class="fa fa-github"></i>
        </a>
      </div>
      <div class="social-btn">
        <a href="https://www.linkedin.com/in/chaseheble">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
      <div class="social-btn">
        <a href="https://plus.google.com/103401304498551996028">
          <i class="fa fa-google-plus"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
