<div class="navbar navbar-default">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">Chase Heble</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li class="{% if page.nav == 'Home' %} active {% endif %}"><a href="{{ site.baseurl }}/">Home</a></li>
      <li class="{% if page.nav == 'About Me' %} active {% endif %}"><a href="{{ site.baseurl }}/about">About Me</a></li>
      <li class="{% if page.nav == 'Resume' %} active {% endif %}"><a href="{{ site.baseurl }}/resume">Resume</a></li>
      <li class="{% if page.nav == 'Projects' %} active {% endif %} dropdown">
        <a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
        <ul class="dropdown-menu">
          {% for repo in site.github.public_repositories %}
          {% if repo.homepage %}
          <li><a href="{{ repo.homepage }}">{{ repo.name }}</a></li>
          {% endif %}
          {% endfor %}
          <li class="divider"></li>
          <li><a href="{{ site.baseurl }}/projects">All Projects</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
