<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    <!-- *********************** Meta ************************* -->
    {% include meta.html %}
    <!-- ********************* END Meta *********************** -->

    <!-- ******************** Stylesheets ********************* -->
    {% include stylesheets.html %}
    <!-- ****************** END Stylesheets ******************* -->
  </head>

  <body>
    <!-- ******************* Navigation Bar ******************* -->
    {% include navbar.html %}
    <!-- ***************** END Navigation Bar ***************** -->

    <!-- ******************** Main Content ******************** -->
    <div id="main" role="main">
      {{ content }}
    </div>
    <!-- ****************** END Main Content ****************** -->

    <!-- *********************** Footer *********************** -->
    {% include footer.html %}
    <!-- ********************* END Footer ********************* -->

    <!-- ********************* Javascript ********************* -->
    {% include global.js %}
    <!-- ******************* END Javascript ******************* -->
  </body>
</html>
